.container{  
    text-align: center;  
    border: ;  
    width: 30x;  
    height: 30px;  
    padding-top: 10x;  
    }  
    btn-1{  
    font-size: 25px;  
    }  



    .badge-sec{
        text-align: center;  
    border: ;  
    width: 30x;  
    height: 30px;  
    padding-top: 10x;  

    }

    

    .App {
        height: 100%;
        width: 100%;
      }
      


    